* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.spacer {
    aspect-ratio: 960/80;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./images/wave.svg');
}